/* Globals */

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* prefers reduced motion */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

:root {
    /* Spacing */

    --spacing-xxs: 2px;
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 12px;
    --spacing-lg: 16px;
    --spacing-xl: 24px;
    --spacing-2xl: 32px;
    --spacing-3xl: 40px;
    --spacing-4xl: 48px;
    --spacing-5xl: 64px;

    /* Font sizes */

    --font-size-2xs: 0.75rem; /* 12px */
    --font-size-xs: 0.875rem; /* 14px */
    --font-size-sm: 1rem; /* 16px */
    --font-size-base: 1.125rem; /* 18px */
    --font-size-lg: 1.25rem; /* 20px */
    --font-size-2xl: 1.5rem; /* 24px */
    --font-size-3xl: 1.75rem; /* 28px */
    --font-size-4xl: 2rem; /* 32px */

    /* Line height */

    --line-height-sm: 1rem; /* 16px */
    --line-height-base: 1.5rem; /* 24px */
    --line-height-xl: 2rem; /* 32px */
    --line-height-2xl: 2.5rem; /* 40px */

    /* Colors */

    --color-white: #fff;
    --color-black: #000;

    /* Base grey colors = Tailwind Slate */

    --color-grey-50: #f8fafc;
    --color-grey-100: #f1f5f9;
    --color-grey-200: #e2e8f0;
    --color-grey-300: #cbd5e1;
    --color-grey-400: #94a3b8;
    --color-grey-500: #64748b;
    --color-grey-600: #475569;
    --color-grey-700: #334155;
    --color-grey-800: #1e293b;
    --color-grey-900: #0f172a;
    --color-grey-950: #020617;


    /* Base blue colors = Tailwind Sky */

    --color-blue-50: #f0f9ff;
    --color-blue-100: #e0f2fe;
    --color-blue-200: #bae6fd;
    --color-blue-300: #7dd3fc;
    --color-blue-400: #38bdf8;
    --color-blue-500: #0ea5e9;
    --color-blue-600: #0284c7;
    --color-blue-700: #0369a1;
    --color-blue-800: #075985;
    --color-blue-900: #0c4a6e;
    --color-blue-950: #082f49;

    /* Accent colors */

    --color-pink-100: #fce7f3;

    /* Theme colors */

    --theme-color-light: var(--color-blue-500);
    --theme-color-base: var(--color-blue-700);
    --theme-color-dark: var(--color-blue-900);
    --theme-color-accent: var(--color-pink-100);
}

html {
    font-family: Lora,'Iowan Old Style', Georgia, 'Times New Roman', Times, serif;
    color: var(--color-grey-700);
    background-color: var(--color-white);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-base);
}

h1,
h2 {
    color: var(--color-grey-700);
    font-weight: normal;
    margin: var(--spacing-lg) 0;
    font-size: var(--font-size-lg);
    line-height: var(--line-height-base);
}

code,
kbd,
pre,
samp {
    font-family: monospace;
}

/* ====== Add the correct font weight in Edge and Safari. */

b,
strong {
    font-weight: bolder;
}

/* ====== Add the correct font size in all browsers. */

small {
    font-size: 80%;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
}

/* ======= Remove default button styles. */

button,
[type='button'],
[type='reset'],
[type='submit'] {
    background-color: transparent; /* 2 */
    background-image: none; /* 2 */
}

a,
a:link,
a:visited,
a:active,
a:hover {
    transition: 0.4s ease-out;
}

a:focus-visible {
    outline: var(--spacing-xxs) solid;
    outline-offset: var(--spacing-xxs);
}

.link[aria-current="page"] {
    font-weight: bold;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
}

/* Prevent resizing textareas horizontally by default. */

textarea {
    resize: vertical;
}

/* Set the default cursor for buttons. */

button,
[role="button"] {
    cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
    cursor: default;
}

.page {
    scroll-behavior: smooth;
}

.body {
    height: 100%;
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-flow: column;
    max-width: 800px;
    min-height: 100vh;
    padding: 0 var(--spacing-sm);
    margin: 0 auto;
}

@media (width >= 360px) {
    .wrapper {
        padding: 0 var(--spacing-lg);
    }
}

@media (width >= 600px) {
    .wrapper {
        padding: 0 var(--spacing-xl);
    }
}

.main {
    padding: var(--spacing-2xl) 0;
    flex: 1;
}

.text-base {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
}


