.prose .content {
    max-width: 60ch;
    margin: 0 auto;
}

.prose p {
    margin: var(--spacing-sm) 0;
}

.prose p small {
    font-size: var(--font-size-xs);
}

.prose p big {
    font-size: var(--font-size-lg);
}

.prose .splitter {
    margin: var(--spacing-lg) 0;
    text-align: center;
    color: var(--color-grey-300);
}

.prose a,
.prose a:link,
.prose a:active {
    padding: 1px 0;
    color: var(--color-grey-700);
    background-color: var(--color-blue-100);
    text-decoration: none;
}

.prose a:visited {
    padding: 1px 0;
    color: var(--color-grey-700);
    background-color: var(--color-blue-100);
}

.prose a:hover {
    text-decoration: underline;
}

.prose li {
    margin-left: var(--spacing-2xl);
}

.prose hr {
    width: 80%;
    margin: 2em auto;
    border: 0;
    height: 1px;
    background-image: linear-gradient(
        to left,
        rgb(0 0 0 / 0%),
        rgb(0 0 0 / 50%),
        rgb(0 0 0 / 0%)
    );
}

.prose.regular blockquote {
    padding: 5px 5px 5px 20px;
    border-left: var(--color-grey-300) var(--spacing-xxs) solid;
    background-color: var(--color-grey-50);
    margin-left: -1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.prose.quote {
    position: relative;
}

.prose.quote blockquote {
    position: relative;
    padding-left: var(--spacing-2xl);
    padding-bottom: var(--spacing-3xl);
    margin-bottom: var(--spacing-3xl);
    box-shadow: 0 12px 18px -20px var(--color-grey-400);
}

.prose.quote blockquote::before {
    position: relative;
    top: 0;
    left: -32px;
    display: block;
    content: "«";
    color: var(--color-grey-200);
    font-size: 4em;
    z-index: -1;
}

.prose .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-sm);
    margin-bottom: var(--spacing-lg);
}

.prose .embed-youtube {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-sm);
}

.prose.photo img {
    padding-bottom: var(--spacing-3xl);
    margin-bottom: var(--spacing-3xl);
    box-shadow: 0 12px 18px -20px var(--color-grey-400);
    max-width: 100%;
    height: auto;
    margin-inline: auto;
}

.prose.photo blockquote {
    padding: 16px 16px 16px 24px;
    border-left: var(--color-grey-300) var(--spacing-xxs) solid;
    background-color: var(--color-grey-50);
    margin: var(--spacing-2xl) 0;
}

.prose.photo blockquote p {
    margin: 16px 0;
}

.prose .tagcloud {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px 8px;
}

.prose .tagclouditem {
    border: 1px solid var(--theme-color-base);
    background-color: var(--color-blue-100);
    border-radius: 4px;
    padding: 2px 8px;
    margin-left: 0;
    min-width: 40px;
    text-align: center;
}

.prose .tagcloudlink {
    text-decoration: none;
    color: var(--theme-color-base);
    background-color: transparent;
}

.prose .tagcloudlink:visited {
    text-decoration: none;
    color: var(--color-grey-700);
    background-color: transparent;
}
