---
import Layout from '@/layouts/Layout.astro';
const title = "Избранное";
const description = "";
---
<!-- Посты с тегом "Избранное" href="/tagged/избранное" -->

<Layout title={title} description={description}>
    <h1>Избранное</h1>
</Layout>
