---
import Layout from '@/layouts/Layout.astro';
import PostCard from '@/components/PostCard.astro';

const title = "*Безымянная овца";
const description = "";
---

<Layout homepage={true} title={title} description={description}>
    <h1>Untitled Sheep</h1>
    <PostCard />
</Layout>
