---
export const prerender = true;

import Layout from '@/layouts/LayoutBase.astro';
import PostCard from '@/components/PostCard.astro';
import { getCollection } from 'astro:content';

import getPublishedPosts from '@/utils/getPublishedPosts';

const title = "*Безымянная овца";
const description = "";

const posts = await getPublishedPosts();

// receive one random post from the collection
const randomPost = posts[Math.floor(Math.random() * posts.length)];
---

<Layout homepage={true} title={title} description={description}>
    <h1>Случайный пост из блога Untitled Sheep</h1>
    <PostCard post={randomPost} />
</Layout>
