---
import Layout from '../layouts/Layout.astro';
import PostCard from '../components/PostCard.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Untitled Sheep</h1>
		<PostCard />
	</main>
</Layout>

<style>
	
</style>
