---
import Layout from '@/layouts/Layout.astro';

const title = "Теги и рубрикатор";
const description = "";
---

<Layout title={title} description={description}>
    <h1>Теги и рубрикатор Безымянной овцы</h1>
</Layout>
