---
export const prerender = true;

import Layout from '@/layouts/LayoutBase.astro';
import { slugify } from '@/utils/slugify.js';

const title = "Теги и рубрикатор";
const description = "";


import { getCollection } from 'astro:content';
const posts = await getCollection('blog', (post) => {
    return !post.data.isDraft && post.data.date <= new Date();
});

// === Receive all tags from each post in posts.

// Step 1. Collect all tags from each post in posts.
const tagsList = posts.map((post) => {
    post.data.tags = post.data.tags || [];
    return post.data.tags.filter((tag) => tag !== 'post');
});

// Step 2. Then flatten the array of arrays into a single array.
const tags = [].concat.apply([], tagsList);

// Step 3. Then remove duplicates and empty strings.
const uniqueTags = [...new Set(tags)];

// Step 5. Sort the tags alphabetically.
const sortedTags = uniqueTags.sort();

---

<Layout title={title} description={description}>
    <h1>Теги и рубрикатор Безымянной овцы</h1>
    <ul class="list">
        {sortedTags.map((tag) => (
           <li><a class="tag" href={`/tagged/${slugify(tag)}`}>{tag}</a></li>
       ))}
       </ul>
</Layout>

<style>
    .list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-lg);
    }

    .tag {
        text-decoration: none;
        color: var(--theme-color-dark);
    }
</style>
