---
const linksTop = [
    { href: "/", title: "Главная" },
    { href: "/archive/", title: "Архив" },
    { href: "/tagged/избранное/", title: "Избранное" },
    { href: "/tagcloud/", title: "Рубрики" },
    { href: "/kickstarter/", title: "Кикстартер" },
    { href: "/rss.xml", title: "RSS", isFilled: true },
];

const linksBottom = [
    { href: "/about/", title: "О блоге" },
    { href: "/changelog/", title: "Changelog" },
];
---

<footer class="footer">

    <ul role="list" class="list">
        { linksTop.map((link) => (
            <li class="item">
                <a class:list={["link primary", {filled: link.isFilled}]} href={link.href}>{link.title}</a>
            </li>
        ))}
    </ul>

    <ul role="list" class="list">
        { linksBottom.map((link) => (
            <li class="item">
                <a class="link secondary" href={link.href}>{link.title}</a>
            </li>
        ))}
    </ul>

    <p class="description">Безымянная овца — нерегулярное приложение к овцепедии. Порн, картинки, рок-н-ролл. Хотите что-то сказать? Пишите на <a href="mailto:urbansheep@gmail.com">urbansheep@gmail.com</a>.</p>


    <p class="description">&copy; 2008—2023, Urbansheep</p>

</footer>

<style>
    .footer {
        display: grid;
        gap: var(--spacing-base);
        margin-block: var(--spacing-lg);
        padding-top: var(--spacing-lg);
        box-shadow: 0 -6px 9px -9px var(--color-grey-400);
    }

    .description {
        text-align: center;
        font-size: small;
        padding-top: 16px;
    }

    .list {
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        justify-content: center;
        font-size: var(--font-size-xs);
        line-height: var(--line-height-base);
    }

    .item::after {
        content: '•';
        padding: 0 var(--spacing-sm);
    }

    .item:last-child::after {
        content: ' ';
    }

    .link {
        text-decoration: none;
    }

    .link:hover,
    .link:active {
        text-decoration: underline;
    }

    .primary {
        color: var(--theme-color-base);
    }

    .primary:hover,
    .primary:visited {
        color: var(--theme-color-base);
    }

    .secondary {
        color: var(--color-grey-400);
    }

    .secondary:hover,
    .secondary:visited {
        color: var(--color-grey-400);
    }

    .filled,
    .filled:hover,
    .filled:visited {
        color: var(--color-white);
        background-color: var(--color-orange-600);
        padding: var(--spacing-xxs);
    }

</style>
