---
import Nav from "@/components/Nav.astro";

const links = [
    {
        title: 'Архив',
        href: '/archive/',
    }, {
        title: 'Избранное',
        href: '/tagged/избранное/'
    }, {
        title: 'Рубрики',
        href: '/tagcloud/'
    }, {
        title: 'Кикстартер',
        href: '/kickstarter/'
    }, {
        title: 'Задать вопрос',
        href: '/ask/'
    }
];
---

<header class="header">
    <div class="title"><a href="/">*Безымянная овца</a></div>
    <Nav links={links} aligned="center" />

</header>

<style>
    .header {
        margin-top: var(--spacing-lg);
    }

    /* .header a {
        text-decoration: none;
        color: var(--theme-color-base);
    }

    .header a:hover {
        text-decoration: underline;
        color: var(--theme-color-base);

    } */

    .title {
        margin-bottom: var(--spacing-sm);
    }

    .title a,
    .title a:visited {
        text-decoration: none;
        color: var(--theme-color-base);
    }

    .title a:hover {
        text-decoration: underline;
        color: var(--theme-color-base);
    }

</style>
