---
const links = [
    {
        title: "Архив",
        href: "/archive/",
    },
    {
        title: "Временная шкала",
        href: "/timeline/",
    },
    {
        title: "Избранное",
        href: "/tagged/избранное/",
    },
    {
        title: "Рубрики",
        href: "/tagcloud/",
    },
    {
        title: "Кикстартер",
        href: "/kickstarter/",
    },
    {
        title: "Задать вопрос",
        href: "/ask/",
    },
];
---

<header class="header">
    <div class="title"><a href="/">*Безымянная овца</a></div>
    <nav class="menu" data-menu>
        <ul role="list" class="list">
            {
                links.map((link) => (
                    <li class="item">
                        <a class="link" href={link.href} data-navLink>
                            {link.title}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>
</header>

<style>
    .header {
        margin-top: var(--spacing-lg);
    }

    .title {
        margin-bottom: var(--spacing-sm);
    }

    .title a,
    .title a:visited {
        color: var(--theme-color-base);
        text-decoration: none;
    }

    .title a:hover {
        color: var(--theme-color-base);
        text-decoration: underline;
    }

    .menu {
        line-height: var(--line-height-base);
        font-size: var(--font-size-xs);
    }

    .list {
        display: flex;
        flex-flow: row wrap;
        list-style: none;
    }

    .item {
        white-space: nowrap;
    }

    .item::after {
        content: "•";
        padding: 0 var(--spacing-sm);
    }

    .item:last-child::after {
        content: " ";
    }

    .link {
        color: var(--theme-color-base);
        text-decoration: none;
    }

    .link:hover,
    .link:active {
        color: var(--theme-color-base);
        text-decoration: underline;
    }

    /* Link current */

    [aria-current="page"] {
        text-decoration: underline;
    }
</style>

<script>
    import "@/utils/showMenuActiveLink.js";
</script>
