---
const links = [
    {
        title: 'Архив',
        href: '/archive/',
    }, {
        title: 'Избранное',
        href: '/tagged/избранное/'
    }, {
        title: 'Рубрики',
        href: '/tagcloud/'
    }, {
        title: 'Кикстартер',
        href: '/kickstarter/'
    }, {
        title: 'Задать вопрос',
        href: '/ask/'
    }
];
---

<header class="header">
    <div class="title"><a href="/">*Безымянная овца</a></div>
    <nav class="menu">
        <ul
            role="list"
            class="navlist"
        >
            { links.map((link) => (
                <li class="navitem">
                    <a class="navlink" href={link.href} data-navLink>{link.title}</a>
                </li>
            ))}

        </ul>
    </nav>

</header>

<style>
    .header {
        margin-top: var(--spacing-lg);
    }

    .title {
        margin-bottom: var(--spacing-sm);
    }

    .title a,
    .title a:visited {
        text-decoration: none;
        color: var(--theme-color-base);
    }

    .title a:hover {
        text-decoration: underline;
        color: var(--theme-color-base);
    }

    .menu {
        font-size: var(--font-size-xs);
        line-height: var(--line-height-base);
    }

    .navlist {
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        justify-content: center;
    }

    .navitem::after {
        content: '•';
        padding: 0 var(--spacing-sm);
    }

    .navitem:last-child::after {
        content: ' ';
    }

    .navlink {
        text-decoration: none;
        color: var(--theme-color-base);
    }

    .navlink:hover,
    .navlink:active {
        text-decoration: underline;
        color: var(--theme-color-base);
    }

</style>

<script>
    import "@/utils/showMenuActiveLink.js";
</script>
