---
export interface Props {
    links: {
        title: string;
        href: string;
        isFilled?: boolean;
    }[],
    type?: 'primary' | 'secondary';
    aligned?: 'left' | 'center' | 'right';
}

const {
    links,
    type = 'primary',
    aligned = 'left',
} = Astro.props;

---

<nav class="menu">
    <ul
        role="list"
        class:list={["list", aligned, type]}
    >
        { links.map((link) => (
            <li class="item">
                <a class="link" href={link.href}>{link.title}</a>
            </li>
        ))}

    </ul>
</nav>



<style>

    .menu {
        font-size: var(--font-size-xs);
        line-height: var(--line-height-base);
    }

    .list {
        display: flex;
        flex-flow: row wrap;
        list-style: none;
    }

    .center {
        justify-content: center;
    }

    .item::after {
        content: '•';
        padding: 0 0.5rem;
    }

    .item:last-child::after {
        content: ' ';
    }

    .link {
        text-decoration: none;

    }

    .link:hover,
    .link:active {
        text-decoration: underline;
    }

    .primary a,
    .primary a:hover,
    .primary a:visited {
        color: var(--theme-color-dark);
    }

    .secondary a,
    .secondary a:hover,
    .secondary a:visited {
        color: var(--color-grey-400);
    }

</style>
