---
export interface Props {
    links: {
        title: string;
        href: string;
        isFilled?: boolean;
    }[],
    type?: 'primary' | 'secondary';
    aligned?: 'left' | 'center' | 'right';
}

const {
    links,
    type = 'primary',
    aligned = 'left',
} = Astro.props;

---

<nav class="menu">
    <ul
        role="list"
        class:list={["navlist", aligned, type]}
    >
        { links.map((link) => (
            <li class="navitem">
                <a class:list={["navlink", {filled: link.isFilled}]} href={link.href} data-navLink>{link.title}</a>
            </li>
        ))}

    </ul>
</nav>



<style>

    .menu {
        font-size: var(--font-size-xs);
        line-height: var(--line-height-base);
    }

    .navlist {
        display: flex;
        flex-flow: row wrap;
        list-style: none;
    }

    .center {
        justify-content: center;
    }

    .navitem::after {
        content: '•';
        padding: 0 var(--spacing-sm);
    }

    .navitem:last-child::after {
        content: ' ';
    }

    .navlink {
        text-decoration: none;
    }

    .navlink:hover,
    .navlink:active {
        text-decoration: underline;
    }

    .primary a {
        color: var(--theme-color-base);
    }

    .secondary a {
        color: var(--color-grey-400);
    }

    .primary a:hover,
    .primary a:visited {
        color: var(--theme-color-base);
    }

    .secondary a:hover,
    .secondary a:visited {
        color: var(--color-grey-400);
    }

    .navlink.filled,
    .navlink.filled:hover,
    .navlink.filled:visited {
        color: var(--color-white);
        background-color: var(--color-orange-600);
        padding: var(--spacing-xxs);
    }

</style>

<script>
    import "@/utils/showMenuActiveLink.js";
</script>
