---
const { next, prev } = Astro.props
---

<nav class="pagination">
    { next && (
        <span><a href={next}>← Назад</a></span>
    )}
    { prev && (
        <span><a href={prev}>Вперед →</a></span>
    )}
</nav>


<style>

    .pagination {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin: var(--spacing-2xl) 0;
        color: var(--color-grey-400);
        font-size: var(--font-size-xs);
    }

    .pagination a {
        color: var(--color-grey-400);
        text-decoration: none;
        text-transform: uppercase;
    }

    .pagination a:hover {
        color: var(--color-grey-400);
        text-decoration: underline;
    }

</style>
