---
import PostCard from "@/components/PostCard.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
    posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<ul class="list">
    {
        posts.map((post) => (
            <li class="listitem">
                <PostCard post={post} />
            </li>
        ))
    }
</ul>

<style>
    .list {
        display: grid;
        gap: var(--spacing-5xl);
        list-style: none;
        font-family: var(--font-family-text);
    }

    .listitem {
        position: relative;
    }

    .listitem::after {
        position: absolute;
        content: "* * *";
        bottom: calc(-1 * var(--spacing-3xl));
        width: 100%;
        text-align: center;
        font-family: var(--font-family-text);
    }

    .listitem:last-child::after {
        content: "";
        font-family: var(--font-family-text);
    }
</style>
