---
import type { CollectionEntry } from 'astro:content';
import '@/styles/prose.css';

export interface Props {
    post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;

const { Content } = await post.render();
---

<section class="prose">
    <a href={`/post/${post.slug}`} class="header">
        { post.data.title ? <h2>→ {post.data.title}</h2> : <h2>→ Пост {post.data.id}</h2>}
    </a>
    <Content />
</section>

<style>
    .header {
        text-decoration: none;
        color: var(--theme-color-base);
    }

    .header:hover {
        text-decoration: underline;
    }

    .header:visited {
        color: var(--theme-color-base);
    }

    .header h2 {
        color: var(--theme-color-base);
    }
</style>
